@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  body {
    position: relative;
    background: #191D21;
  }

  body::before {
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: rotate(180deg);
    background-image: url('../../public/bg/stars.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-blend-mode: lighten;

  }


  .sun {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background: url(../../public/sun.png) no-repeat bottom center;
    background-size: 100%;
  }
  main{
    position: relative;
    z-index: 2;
  }
}

@layer components {



  .grow-on-hover {
    @apply scale-95 hover:scale-100 transition-all duration-500;
  }

  .glow-on-hover {
    @apply hover:filter hover:backdrop-brightness-150;
  }

  .menu {
    position: relative;
  }

  .menu::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #292e36, #292e3699, #0000, #0000);
    background-size: cover;
    opacity: 80%;
    z-index: -1;
  }
}
